.navbar{
    box-shadow: 1px 2px 20px grey;
    border-radius: 0px 0px 5px 5px;
}
.contenedor{
    display: flex;
    justify-content: right;
}
.space{
    margin-left: 5px;
}

.spaceButton{
    margin-bottom: 5px;
}