<nav class="navbar sticky-top navbar-light bg-light navbar-">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="joystick" loading="lazy">
      Angular-app
    </a>
</nav>

<div class="bg-gradient-primary" style="height: 100vh;">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-1">             
                <div class="row">
                    <div class="col-lg-3">
                        <div class="list-group p-1">
                            <a class="btn btn-primary spaceButton">
                                <i class="fas fa-user-tie fa-sm fa-fw mr-2 text-gray-400"></i>
                                Datos de Perfil
                            </a>
                            <a class="btn btn-outline-danger" (click)='logout()'>
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                              </a>
                        </div> 
                    </div>
                    <div class="col-lg-9">
                        <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h1 text-gray-900 mb-4">
                                        Hola {{user.name}} {{user.surname}}
                                    </h1>
                                </div>
                                <app-user-data [user]="user"></app-user-data>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>